* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header Section*/
header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    background-color: #ead9d5;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.nav-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}
.nav-bar {
    float: right;
}
.logo {
    padding-top: 5px;
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #452019;
}
.nav-item {
    width: 130px;
    padding: 19px 15px;
    display: inline-block;
    text-align: center;
    list-style: none;
}
.nav-link {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #7c6c68;
}
.nav-item:hover {
    color: black;
    background-color: hsla(11, 31%, 77%, 0.6);
    border-radius: 10%;
}

/*Top Section*/
.top-container {
    height: 450px;
    background-image: url("images/1600-1062.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.top-heading {
    width: 1000px;
    margin: 0 auto;
    padding-top: 160px;
}
.title {
    font-family: 'Comfortaa', cursive;
    font-size: 70px;
    color: white;
}

/*Main Section*/
.bean-type {
    width: 950px;
    height: 250px;
    margin: 40px auto 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left-type {
    position: relative;
    right: 15px;
}
.right-type {
    position: relative;
    left: 15px;
}
.bean-info-right {
    width: 600px;
    float: right;
    font-size: 20px;
    padding: 0 35px 35px 35px;
}
.left-img {
    float: left;
    padding: 20px 0 0 20px;
}
.bean-name {
    padding: 15px 0;
}
.bean-info-left {
    width: 600px;
    float: left;
    font-size: 20px;
    padding: 0 35px 35px 35px;
}
.right-img {
    float: right;
    padding: 20px 20px 0 0;
}

/*Footer Section*/
footer {
    margin-top: 80px;
    padding: 50px 0;
    text-align: center;
    background-color: #ead9d5;
    color: #7c6c68;
}