* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Header element*/

header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    background-color: #ead9d5;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    margin-left: 100px;
}

nav {
    width: 400px;
    height: 100%;
    float: right;
}

li {
    list-style: none;
    display: inline-block;
    padding-top: 15px;
    padding-left: 20px;
}

.nav-items {
    text-decoration: none;
    color: #af9691;
    font-size: 25px;
    padding: 10px;
    border: 1px solid #ead9d5;
}

.nav-items:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.02);
    padding: 10px;
    border: 1px solid white;
    border-radius: 10%;
}

/*Heading element*/

.top-element {
    height: 450px;
    background-image: url("images/1600-1062.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    width: 700px;
    height: 300px;
    position: absolute;
    left: 150px;
    top: 100px;
}

.head {
    padding-left: 60px;
    padding-top: 80px;
    color: white;
    font-size: 70px;
    font-family: 'Comfortaa', cursive;

}


/*Container element*/

.bean-type {
    width: 950px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-type {
    position: relative;
    right: 15px;
}

.right-type {
    position: relative;
    left: 15px;
}

.left-type:hover {
    /*position: relative;*/
    /*right: 50px;*/
}

.right-dics {
    width: 600px;
    float: right;
    font-size: 20px;
    padding: 0 35px 35px 35px;
}

.left-img {
    float: left;
    padding: 20px 0 0 20px;
}

.bean-name {
    padding: 15px 0;
}

.left-dics {
    width: 600px;
    float: left;
    font-size: 20px;
    padding: 0 35px 35px 35px;
}

.right-img {
    float: right;
    padding: 20px 20px 0px 0px;
}

.bean-name {
    padding: 15px 0px;
}

/*Grid element*/

.container {
    display: grid;
    width: 1400px;
    margin: 40px auto 0;
    justify-content: center;
    grid-gap: 30px;
}

/*Footer element*/

footer {
    margin: 40px;
    text-align: center;
}